body{
    font-family: var(--font-inter);
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

button{
    background: linear-gradient(45deg, #0796D3, #53C0F0);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;

    &:hover{
        background-color: #0056b3;
    }
}

@media (max-width: 768px){
    .container{
        padding: 10px;
    }

    button{
        width: 100%;
    }
}